<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">

        <span class="brand-text font-weight-light">Online Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                <li class="nav-item">
                    <a href="{{ path('product_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('product_search') }}" class="nav-link">
                        <i class="nav-icon fas fa-search"></i>
                        <p>Search</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('favorite_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-star"></i>
                        <p>Favorite</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>